.breadcrumbs 
{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    
    margin: 0px auto;
    width: 650px;
    height: 40px;
    color: black;
    margin-bottom: 11px;
    counter-reset: flag;
    text-align: center;
}

.breadcrumbs a 
{
    text-decoration: none;
    position: relative;
    float: left;
    padding-left: 50px;
    padding-right: 16px;
    line-height: 37px;
    color: white;
    background-color: black;
    transition: background-color 0.266s;
}

.breadcrumbs a:after 
{
    content: "";
    position: absolute;
    top: 0;
    right: -18px;
    z-index: 1;
    width: 39px;
    height: 40px;
    background-color: #913b1f;
    border-radius: 60px 0 0 0;
    transform: rotate(-45deg) scale(0.72);
    
    /* Скорость изменения цвета */
    transition: background-color 0.233s;
}

.breadcrumbs a:hover,
.breadcrumbs a:hover::after,
.breadcrumbs a.active,
.breadcrumbs a.active::after 
{
    background-color: #913b1f;
}

.breadcrumbs a::before 
{
    content: counter(flag);
    position: absolute;
    top: 9px;
    left: 27px;
    width: 21px;
    height: 21px;
    line-height: 20px;
    background-color: #913b1f;
    border-radius: 50%;
    counter-increment: flag;
}

.breadcrumbs a:first-child 
{
    padding-left: 45px;
}

.breadcrumbs a:first-child::before 
{
    left: 13px;
}