.breadcrumbs 
{
    display: flex;
    position: relative;
    margin: 0px auto;
    
    width: 630px;
    height: 40px;
    color: black;
}

.breadcrumbs a 
{
    /*display: flex;*/
    margin: 0px auto;
    text-decoration: none;
    position: relative;
    color: white;
    background-color: black;
    padding-top: 7px;
    padding-right: 25px;
    transition: background-color 0.366s;
}

.breadcrumbs a:before
{
    content: url(/DOJ745.github.io/Pictures/Svg/archer.svg);
    position: relative;
    display: flex;
    flex: 1;
    width: 25px;
    float: left;
    transition: background-color 0.133s;
    margin-right: 9px;
    margin-left: 9px;
}


.breadcrumbs a:hover,
.breadcrumbs a.active
{
    background-color: #913b1f;
}