                        /* -------------- Классы, ID, свойства тегов с классом/ID, наследование и т.д -------------- */

.site_name
{
    font-size: 27px;
    text-align: center;
    padding: 5px;
}


/* "Пролистыватель" - header + content + nav и т.д */

#wrapper 
{
    min-height: 100%;
    margin: 0 auto;
    flex-direction: column;
    flex-grow: 1;
}

#content 
{
    min-height: 100%;
    width: 50%;
    margin: 0 auto;
    border: 2px black solid;
    flex: 1;
    
    padding: 17px;
    border-image-source: url(/DOJ745.github.io/Pictures/Ornaments/Ornament11.png);
    border-style: solid;
    border-image-width: 25px;
    border-image-slice: 80;
    border-image-repeat: round;
    border-image-outset: 3px;
}

#content h1
{
    text-align: center;
}

#content h2
{
    text-align: center;
}

p#parse
{
    position: relative;
    margin: 25% auto;
}

/* Настраиваем блок, в котором будет логотип */

.logo 
{
    display: flex;
    justify-content: space-between;
}


/* Гербы после логотипа */


.logo:before
{
    content: url(/DOJ745.github.io/Pictures/Svg/Flag.svg);
    display: inline;
    float: left;
    width: 245px;
    height: 165px;
    position: relative;
}

.logo:after
{
    content: url(/DOJ745.github.io/Pictures/Svg/Flag.svg);
    display: inline;
    float: left;
    width: 245px;
    height: 165px;
    position: relative;
}

/* Настраиваем сам логоип */

.graficlogo 
{
    padding: 5px;
    width: 210px;
    height: 210px;
    height: auto;
    max-width: 100%;
    
    /* Свойства width и height включают в себя значения полей и границ, но не отступов*/
    
    box-sizing: border-box; 
}

    /* Границы для картинок и стили для них */

.foot_img
{
    width: 320px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 0px;
}


.border
{
    width: 11em;
    height: 11em;
    position: relative;
    
    border: 27px solid ;
    margin: 10px 1em 1em 10px;
    -webkit-border-image: url(../Pictures/Ornaments/Ornament4.png) 25% round;
    -moz-border-image: url(../Pictures/Ornament4.png) 25% stretch;
}

.picList
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    float: left;
}

.picListMain
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.picListMain a
{
    margin: 0px auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* --------- Видео с YouTube ---------*/

div iframe.video
{
    display: block;
    position: relative;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

.video
{
    width: 500px;
    height: 450px;
}



 
            /* ---------------- Выпадающее меню ---------------- */


/* Главная часть выпадающего меню */

.topnav
{
    margin: auto;
    width: 640px;
    height: 45px;
    margin-top: 5px;
    
    background-color: none;
    font-size: 15px;
    margin-top: 10px;
}

.topnav a 
{
    color: black;
    text-align: center;
    padding: 13px 22px;
    font-size: 17px;
}

.topnav .icon
{
    display: none;
}


/* Работа со списками, ведь ссылка, которая содержит множество ссылок - список */

.nav
{
	float: left;
	min-width: 100%;
	list-style: none;
	margin: 0px auto;
    padding-left: 75px;
   
}

.nav li
{
	float: left;
	margin-right: 10px;
	position: relative;
	display: block;
}

.nav li a
{
	display: block;
	padding: 8px;
	color: #fff;
	background: black;
	text-decoration: none;
}

.nav li a:hover
{
	color: #fff;
	background: black;
	text-decoration: underline;
}


.nav ul
{
	list-style: none;
	position: absolute;
    
    /* По умолчанию скрываем */
    /* left сугубо для разнообразия */
    left: -9999px;
	opacity: 0; 
    
    /*  Как быстро выводится подменю */
    
	-webkit-transition: opacity 0.266s ease-in;
    -moz-transition: opacity 0.266s ease-in;
}

/* Вводим отступ между li, чтобы не слипались элементы подменю */

.nav ul li
{
    /* Делаем подменю выше всех остальных элементов
    чтобы его не перекрывали другие элементы*/
    z-index: 9999;
	padding-top: 2px; 
	float: none;
}

.nav ul a
{
    /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
    /* Чтобы не появился адский пролистыватель */
    
	white-space: nowrap;
	display: block;
}

.nav li:hover ul
{ 
	left: 0; 
	opacity: 1; 
}

/* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */

.nav li:hover a
{ 
	background: black;
	text-decoration: underline;
}

/* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */

.nav li:hover ul a
{ 
	text-decoration: none;
    
    /* Как быстро увеличивается размер пункта подменю*/
    
	-webkit-transition: -webkit-transform 0.266s ease;
    -moz-transition: -moz-transform 0.266s ease;
}

/* Устанавливаем стили для выпадающих пунктов при наведении курсора*/

.nav li:hover ul li a:hover
{ 
	background: #dfc66c;
    text-decoration: underline;
	-moz-transform: scale(1.10);
	-webkit-transform: scale(1.10);
}

            /* ------------ Иконки для подпунктов ------------ */

    /* Мечи */

ul.submenu li.icon_sword > a:hover:after
{
    content: url(/DOJ745.github.io/Pictures/Svg/Swords.svg);
    display: flex;
    flex: 1;
    float: right;
    width: 15px;
    height: 15px;
    position: relative;
}
    
ul.submenu li.icon_sword > a:hover:before
{
    content: url(/DOJ745.github.io/Pictures/Svg/Swords.svg);
    display: flex;
    flex: 1;
    float: left;
    width: 15px;
    height: 15px;
    position: relative;
}


    /* Топоры */


ul.submenu li.icon_axe > a:hover:after
{
    content: url(/DOJ745.github.io/Pictures/Svg/Axes.svg);
    display: flex;
    flex: 1;
    float: right;
    width: 15px;
    height: 15px;
    position: relative;
}

ul.submenu li.icon_axe > a:hover:before
{
    content: url(/DOJ745.github.io/Pictures/Svg/Axes.svg);
    display: flex;
    flex: 1;
    float: left;
    width: 15px;
    height: 15px;
    position: relative;
}


    /* Древковое */


ul.submenu li.icon_wooden > a:hover:after
{
    content: url(/DOJ745.github.io/Pictures/Svg/Wooden%20weapons.svg);
    display: flex;
    flex: 1;
    width: 28px;
    height: 28px;
    position: relative;
    
    padding-bottom: 5px;
    padding-left: 38px
}

    /* Уникальное */


ul.submenu li.icon_unique > a:hover:after
{
    content: url(/DOJ745.github.io/Pictures/Svg/Unique.svg);
    display: flex;
    flex: 1;
    width: 28px;
    height: 28px;
    position: relative;
    
    padding-bottom: 5px;
    padding-left: 38px
}

    /* Категории доспехов */

ul.submenu li.icon_armor > a:hover:after
{
    content: url(/DOJ745.github.io/Pictures/Svg/Armor.svg);
    display: flex;
    flex: 1;
    width: 29px;
    height: 29px;
    position: relative;
    
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 85px;
}