                    /*-------------- Определяем параметры меню для мобильных устройств(адаптивность) --------------*/

@media screen and (max-width: 768px)
{
    /* ------------- Навигационное меню -------------*/
    .topnav li:not(:first-child)
    {
        display: none;
    }
    
    .topnav li.icon
    {
        float: right;
        display: block; 
    }
    
    .topnav.responsive
    {
        position: relative;
        max-height: 100%;
    }
    
    .topnav.resposive li.icon
    {
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .topnav.responsive li
    {
       display: flex;
       flex-direction: column;
       text-align: center;
    }
    
    #content
    {
        text-align: left;
        position: relative;
        width: auto;
    }
    
    /* -------- Размеры картинок --------*/
    
    .border
    {
        width: 100px;
        height: 80px;
    }
    
    
                /* ----- Выпадающее меню ------ */
    
    .topnav
    {
        width: auto;
    }
    
    .nav
    {
        min-width: 100%;
        min-height: 100%;
        display: flex;
        flex-flow: column;
        flex: 1;
        padding: 0;
    }
    
    .nav li
    {
        background-color: burlywood;
        margin-right: 0px;
    }
    
    ul.submenu
    {
        display: none;
    }
    
    li:hover > ul.submenu
    {
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        position: relative;
    }
    
    
            /* -------- Хлебные крошки ----------- */
    
    .breadcrumbs
    {
        flex-wrap: wrap;
        flex-direction: row;
        min-height: 100%;
        min-width: 100%;
    }
    
    /* --------------- Картинки --------------- */
    
    .picList 
    {
        float: none;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .picList img
    {
        margin: 0px auto;
    }
}
