                    /*-------------- Определяем параметры меню для мобильных устройств(адаптивность) --------------*/

@media screen and (max-width: 768px)
{
    .topnav li:not(:first-child)
    {
        display: none;
    }
    
    .topnav li.icon
    {
        float: right;
        display: block; 
    }
    
    .topnav.responsive
    {
        position: relative;
        max-height: 100%;
    }
    
    .topnav.resposive li.icon
    {
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .topnav.responsive li
    {
       display: flex;
       flex-direction: column;
       text-align: center;
    }
    
    #content
    {
        text-align: left;
        position: relative;
        border-image-width: 5px;
        
        padding: 0px;
        border-image-outset: 0px;
        border-image-repeat: stretch;
    }
    
    
    /* Выпадающее меню */
    .topnav
    {
        width: auto;
    }
    
    .nav
    {
        min-width: 100%;
        min-height: 100%;
        
        display: flex;
        flex-flow: column;
        flex: 1;
        
        padding: 0;
    }
    
    .nav li
    {
        background-color: burlywood;
        margin-right: 0px;
    }
    
    ul.submenu
    {
        display: none;
    }
    
    li:hover > ul.submenu
    {
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        position: relative;
    }
    
    ul.submenu li > a:hover:after
    {
        content: url(/DOJ745.github.io/Pictures/Svg/Swords.svg);
        display: flex;
        flex: 1;
        float: right;
        width: 15px;
        height: 15px;
        position: relative;
    }
    
    ul.submenu li > a:hover:before
    {
        content: url(/DOJ745.github.io/Pictures/Svg/Swords.svg);
        display: flex;
        flex: 1;
        float: left;
        width: 15px;
        height: 15px;
        position: relative;
    }
}
