                                        /*-------------- Тестовый полигон --------------*/

img.test_border
{
    width: 190px;
    height: 170px;
    float: left;
    
    /*display: block;*/
    border: 27px solid ;
    margin-top: 100px;
    -webkit-border-image: url(../Pictures/Ornaments/Ornament4.png) 25% round;
    -moz-border-image: url(../Pictures/Ornament4.png) 25% stretch;
}

#content h1
{
    text-align: center;
}

#content h2
{
    text-align: center;
}

nav.test_border
{
       
    border-image-source: url(/DOJ745.github.io/Pictures/Ornaments/Ornament10.png);
    border-style: solid;
    border-image-width: 16px;
    border-image-slice: 45;
    border-image-repeat: round;
    border-image-outset: 3px;
}

#content
{
    padding: 17px;
    
    border-image-source: url(/DOJ745.github.io/Pictures/Ornaments/Ornament11.png);
    border-style: solid;
    border-image-width: 25px;
    border-image-slice: 80;
    border-image-repeat: round;
    border-image-outset: 3px;
}