                                        /*-------------- Тестовый полигон --------------*/

img.test_border
{
    width: 190px;
    height: 170px;
    float: left;
    
    /*display: block;*/
    border: 27px solid ;
    margin-top: 100px;
    -webkit-border-image: url(../Pictures/Ornaments/Ornament4.png) 25% round;
    -moz-border-image: url(../Pictures/Ornament4.png) 25% stretch;
}

#content h1
{
    text-align: center;
}

#content h2
{
    text-align: center;
}

/*nav.test_border*/
{
       
    border-image-source: url(/DOJ745.github.io/Pictures/Ornaments/Ornament10.png);
    border-style: solid;
    border-image-width: 19px;
    border-image-slice: 50;
    border-image-repeat: round;
    border-image-outset: 3px;
}

#content
{
    padding: 17px;
    
    border-image-source: url(/DOJ745.github.io/Pictures/Ornaments/Ornament11.png);
    border-style: solid;
    border-image-width: 25px;
    border-image-slice: 80;
    border-image-repeat: round;
    border-image-outset: 3px;
}


        /* Выпадающее меню 1*/

/*  nav ul 
{
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
			    
}

nav ul li 
{
    margin: px -7px 0 0;
    display:inline-block;
			    
} */

/* скрываем выпадающие списки по умолчанию
			 * и задаем абсолютное позиционирование */
/*  nav ul ul 
{
    display: none;
    position: absolute;
    top: 100%;
} */
			
			/* отображаем выпадающий список при наведении */

/*  nav ul li:hover > ul 
{
    display:inherit;
			
} */
			
        /* первый уровень выпадающего списка */
/*      nav ul ul li 
{
    min-width:170px;
    float:none;
    display:list-item;
    position: relative;	
}       */

    /* Выпадающее меню 2*/
a 
{
  padding: 5px 10px;
  text-decoration: none;
  outline: none;
  transition: .5s linear;
}

.topmenu > li 
{
  display: inline-block;
  margin-right: -2px;
  position: relative;
}

.topmenu > li:last-child 
{
  margin-right: 0;
}

.submenu 
{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.one .submenu 
{
  display: none;
  background: red;
  border: 2px solid black;
}
.one ul li:hover .submenu 
{
  display: flex;
  flex-direction: column
}

