                            /* Не забывай писать комментарии к тем вещам, которые либо сложны в понимании,
                                    либо для собственной перестраховки. Тупых комментариев не бывает */


                                    /* -------------- Глобальные изменения для тегов -------------- */


@font-face 
{
        font-family: medieval;    /* Гарнитура шрифта. Её в дальнейшем надо использовать для font-family */
        src: url("Fonts/Medieval font 2.ttf");   /* Путь к файлу со шрифтом */
}

*
{
    padding: 0;
    margin: 0;
}

html
{
   height: 100%;
}

body
{
    margin: 0 auto;
    
    font-family: medieval;
    background: url("../background.png" );
    background-repeat: repeat;
    background-position: center center;
    
    
    
    height: 100%;
    max-width: 2200px;
}

body>*
{
    display: flex;
}

footer
{
    margin-top: 5px;
    max-width: 100%;
	height: auto;
	position: relative;
    text-align: center;
    
    flex-direction: column;
}

/* Навигационное меню - Общее положение */

header
{
    min-height: 100%;
}

figcaption
{
    margin: 0px auto;
    font-size: 9pt;
}

table 
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 10pt;
}